<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search Film - Videoclub UPM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'videoclub/css/search_film.css' %}>
</head>

<body>
    <nav class="navbar navbar-inverse customNavbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href={% url 'films' %}>Videoclub Online UPM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_staff %}
                <li class="admin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                                <a href={% url 'list_users' %}>List users</a>
                            </li>
                            <li>
                                <a href={% url 'films' %}>Films</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href={% url 'edit_profile' %}>Edit profile</a>
                        </li>
                        <li>
                            <a href={% url 'change_password' %}>Change password</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href={% url 'doLogout' %}>Logout</a>
                </li>
            </ul>
    </nav>

    <div class="container-fluid">
        <form id="edittext"  action={% url 'find_filmsAdd' %}>
            <div class="input-group input-group-lg">
                <input type="text" name="text_search" class="form-control" placeholder="Search film">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% block content %}
    {% if searched %}
    {% for element in results %}
    <div class="container-fluid" id="film_info">
        <div class="row featurette">
            <div class="col-md-2" style="padding-inline-start: -0%">
                <div class="container-fluid" style="padding-inline-start: -0%">
                    <img class="featurette-image img-responsive" src= {{ element.poster_path }} alt="img"/>
                </div>
            </div>
            <div class="col-md-8" style="padding-inline-start: -0%">
                <div class="container-fluid">
                    <h1>{{ element.title }}</h1>
                </div>
                <div class="container-fluid">
                    <h4 style="color: #394450">{{ element.date }}</h4>
                </div>
                <div class="container-fluid">
                    <h3>Sypnosis</h3>
                    <p>{{ element.overview }}</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-info btn-lg" href="{% url 'film' %}?title={{ element.title | urlencode }}" role="button">See more &raquo;</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>