<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>Film - Videoclub UPM</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href={% static 'videoclub/css/film.css' %}>
</head>

<body>
    <nav class="navbar navbar-inverse customNavbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href={% url 'films' %}>Videoclub Online UPM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_staff %}
                <li class="admin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                                <a href={% url 'list_users' %}>List users</a>
                            </li>
                            <li>
                                <a href={% url 'add_film' %}>Add film</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href={% url 'change_password' %}>Change password</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a action={% url 'doLogout' %}>Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if found %}
    <div class="container-fluid" id="film_info">
        <div class="row featurette">
            <div class="col-md-4">
                <div class="container-fluid">
                    <img class="featurette-image img-responsive" src={{ url_poster }} alt="img" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <h1 id="title">{{ title }}</h1>
                </div>
                <br>
                <div class="container-fluid">
                    <h3>Overview</h3>
                    <p>{{ overview }}</p>
                </div>
                <div class="container-fluid">
                    <h3>Video</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src={{ url_video }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-left: 3%">
                <div class="container-fluid">
                    <h3>Facts</h3>
                    <h5>Original title: </h5> {{ original_title }}
                    <h5>Release date: </h5> {{ release_date }}
                    <h5>Original language: </h5> {{ original_language }}
                    <h5>Runtime: </h5> {{ runtime }} min
                    <h5>Budget: </h5> {{ budget }} $
                    <h5>Revenue: </h5> {{ revenue }} $
                    <h5>Status: </h5> {{ status }} 
                    <br>
                    <br>
                    <h3>Rating</h3> <h5>{{ vote_average }}</h5>
                    <br>
                    <h3>Cast</h3>
                    <h5>Directors: </h5> COMPLETAR
                    <h5>Main: </h5> COMPLETAR
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>