<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Videoclub UPM</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href={% static 'videoclub/css/index.css' %}>
    </head>
    <body>
        <nav class="navbar navbar-inverse as">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Videoclub Online UPM</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">About Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <form action={% url 'login' %} method="post">
                    {% csrf_token %}
                    <input id="loginButton" class="btn btn-default navbar-btn loginButton" type="submit" value="Login" />
                  </form>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <img class="featurette-image img-responsive center-block wallpaper" src={% static "videoclub/images/index_wallpaper.jpg" %} alt="Wallpaper"/>

    </body>
</html>