<!DOCTYPE html> 

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Modify user - Videoclub UPM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'videoclub/css/modify_user.css' %}>
</head>

<body class="">
    <body>
        <nav class="navbar navbar-inverse customNavbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href={% url 'films' %}>Videoclub Online UPM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_staff %}
                <li class="admin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                                <a href={% url 'list_users' %}>List users</a>
                            </li>
                            <li>
                                <a href={% url 'add_film' %}>Add film</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href={% url 'edit_profile' %}>Edit profile</a>
                            </li>
                            <li>
                                <a href={% url 'change_password' %}>Change password</a>
                            </li>
                        </ul>
                    </li>
                <li>
                    <a href={% url 'doLogout' %}>Logout</a>
                </li>
            </ul>
          </div>
        </nav>

    <div>
        {% block content %}
            <h1>Modify user info</h1>
            <form method="POST" class="post-form"   >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default">Update</button>
                <a href={% url 'list_users' %} class="btn btn-default">Cancel</a>
            </form>

            <br>
            <a href="{% url 'delete_user' %}?username={{ user.username | urlencode }}" class="btn btn-danger">Delete user</a>
        {% endblock %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>