<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Search Film - Videoclub UPM</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href={% static 'videoclub/css/search_film.css' %}>
    </head>
    <body>
        <h1>Videoclub online UPM</h1>

        <input type="text" name="film_title"><br>
        <input id="searchFilmButton" type="submit" value="Search film" />
    </body>
</html>