body{
    background-color: #c6c6c6;
}

.customNavbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar-right {
    float: right!important;
}

.paddingStart {
    padding-inline-start: -0%
}

.dateColor {
    color: #394450
}

#edittext {
    padding-top: 1%
}

#film_info{
    margin-inline-end: 2%;
    margin-inline-start: 2%;
    margin-block-end: 1%;
    margin-block-start: 1%;
    background: #f3f3f3;
}